@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Barrio&display=swap');
:root{
	--main-color: #6651a0;
	--color-1: #e91e63;
	--color-2: #f5ae10;
	--color-3: #09d69c;
	--bg-dark: #2b2c2f;
	--main-to-dark-color: var(--main-color);
	--dark-to-main-color: var(--bg-dark);
	--shadow-black-100: 0 5px 15px rgba(0,0,0,0.1);
	--shadow-black-300: 0 5px 15px rgba(0,0,0,0.3);
	--black-900: #000;
	--black-400: #6b6b6b;
	--black-100: #f7f7f7;
	--black-000: #fff;
	--black-alpha-100: rgba(0,0,0,0.5);
}

body {
	font-family: 'Poppins', sans-serif;
	font-size: 15px;
	font-weight: 400;
	overflow-x: hidden;
	background-color: #ffda73;
	line-height: 1.5;
}

* {
	margin: 0;
	padding: 0;
	outline: none!important;
}

img {
	max-width: 100%;
	vertical-align: middle;
}

ul {
	list-style: none;
}

.btn-1 {
	background-color: var(--main-color);
	border: none;
	border-radius: 50px;
	color: #fff;
	padding: 5px;
	font-size: 15px;
	text-transform: capitalize;
	transition: all 0.5s ease;
	box-shadow: var(--shadow-black-300);
	font-weight: 500;
}

.btn-1:focus {
	box-shadow: var(--shadow-black-300);
}

.btn-1:hover {
	color: var(--main-color);
	background-color: rgba(255, 218, 115, 0.6);
}

.btn-1:hover i {
	color: var(--main-color);
}

.btn-2 {
	background-color: #ffda73;
	border: none;
	border-radius: 20px;
	color: var(--main-color);
	padding: 10px 20px;
	font-size: 15px;
	text-transform: ;
	transition: all 0.5s ease;
	box-shadow: var(--shadow-black-300);
	font-weight: 500;
}

.btn-2:focus {
	box-shadow: #fff;
}

.btn-2:hover {
	color: #ffda73;
	background-color: rgba(102, 81, 160, 0.4);
}

@keyframes spin_01 {
	0% {
		transform: rotate(0deg);
	}
	100% {
		transform: rotate(360deg);
	}
}

@keyframes bounceTop_01 {
	0%,100% {
		transform: translateY(-40px);
	}
	50% {
		transform: translateY(0px);
	}
}

@keyframes bounceTop_02 {
	0%,100% {
		transform: translateY(-30px);
	}
	50% {
		transform: translateY(0px);
	}
}



.section-padding {
	padding: 70px 0;
}

.section-title {
	margin-top: 50px;
	margin-bottom: 70px;
}

.section-title h2 {
	font-size: 50px;
	color: #fff;
	font-family: barrio;
	font-weight: 700;
	text-transform: ;
	text-align: center;
}

.section-title h2 span {
	color: #df377e;
}

.owl-carousel .owl-dots {
	padding: 0 15px;
	text-align: center;
	margin-top: 20px;
}

.owl-carousel button.owl-dot {
	height: 6px;
	width: 25px;
	background-color: #ddd;
	display: inline-block;
	margin: 0 5px;
	border-radius: 5px;
}

.owl-carousel button.owl-dot.active{
	background-color: var(--main-color);
}

/*--navbar--*/
.navbar {
	background-image: url('../img/bg1.png');
	background-size: 1100px;
	padding: 0 10px;
	max-height: 70px;
	transition: all 0.5s ease;
}

.navbar .navbar-shrink {
	box-shadow: 0 10px 10px rgb(0,0,0,0.1);
	background-color: var(--main-color);
	border: 1px solid #ffda73;
	padding: 10px 0;
}

.navbar > .container {
	padding: 10px 0;
}

.navbar .navbar-brand {
	font-family: 'Barrio', cursive;
	font-size: 35px;
	color: #ffda73;
	font-weight: 400;
	text-transform: capitalize;
}

.navbar .nav-item {
	margin-left: 30px;
}

.navbar .nav-item .nav-link {
	color: #ffda73;
	font-size: 15px;
	text-transform: capitalize;
	font-weight: 400;
	padding: 5px 0;
	position: relative;
}

.navbar .nav-item .nav-link::before {
	content: '';
	position: absolute;
	left: 0;
	bottom: 0;
	right: 0;
	height: 1px;
	background-color: #ffda73;
	transition: all 0.5s ease;
	transform: scale(0);
}

.navbar .nav-item .nav-link.active::before,
.navbar .nav-item .nav-link:hover::before {
	transform: scale(1);
}

/*--home--*/
.home {
	min-height: 100vh;
	padding: 0 200px;
	background-image: url('../img/bg1.png');
	background-size: 1100px;
	border-radius: 0 0 250px 0;
	height: 100%;
}


.home-text h1 {
	font-family: 'barrio';
	line-height: 60px;
	font-size: 70px;
	color: #ffda73;
	margin: 0 0 10px;
}

.home-text p {
	font-size: 14px;
	line-height: 26px;
	color: #fff;
	margin: 0;
	font-weight: 300;
}

.home .home-btn {
	margin-top: 20px;
}

.home-img img {
	max-width: 450px;
	width: 100%;
	border-radius: 30px;
	animation: bounceTop_01 3s ease infinite;

}

.home-img {
	position: relative;
	padding-left: px;
}

.home-img .circle {
	position: absolute;
	z-index: 1;
	height: 400px;
	width: 400px;
	border: 0px solid rgba(223,55,126,0.8);
	border-radius: 50%;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%);
}

.home-img .circle::before {
	content: '';
	position: absolute;
	height: 50px;
	width: 50px;
	background-color: rgba(223, 55, 126, 0.7);
	border-radius: 50%;
	left: 30px;
	top: 30px;
	transform-origin: 170px 170px;
	animation: spin_01 13s linear infinite;
}

/*--guidelines--*/
.guidelines {
	background-image: linear-gradient(#ffda73, #df377e, #6651a0);
	padding-bottom: 50px;
}

.guidelines-title h2 {
	color: #fff;
	font-size: 30px;
	font-weight: 600;
	text-align: left;
}

.guidelines-title-text {
	color: #fff;
	margin-top: 30px;
	margin-bottom: 30px;
	line-height: 25px;
	text-align: left;
}

.guidelines-text span {
	color: #fff;
	margin-top: 30px;
	margin-bottom: 30px;
	text-align: left;
}

#guidelines-container {
	background-image: radial-gradient(#df377e, #ffda73);
	box-shadow: var(--shadow-black-300);
	border-radius: 30px;
	width: 60%;
	padding:120px 50px;
	margin-bottom: 50px;
}

.guidelines-img {
	max-width: 300px;
	width: 100%;
	border-radius: 50%;
	box-shadow: 0 5px 15px rgba(0,0,0,0.7);
	animation: circle_bounce 5s ease infinite;
}

.guidelines-img-2 {
	max-width: 450px;
	margin-left: 40px;
	width: 100%;
	border-radius: 50%;
	box-shadow: 0 5px 15px rgba(0,0,0,0.7);
	animation: circle_bounce 5s ease infinite;
}

.guidelines-item {
	padding: 30px;
	width: 200px;
	background-color: #fff;
	border-radius: 10px;
	border: 1px solid #df377e;
	box-shadow: 5px 5px #e7c8d6;
	margin-bottom: 30px;
}

.guidelines-item h3 {
	text-transform: capitalize;
	font-size: 20px;
	color: var(--main-color);
}




.behind {
	padding-top: 100px;
	padding-bottom: 200px;
	background-image: linear-gradient(#6651a0, #ffda73);
}

.behind .section-title h4 {
	color: #fff;
	font-weight: 600;
}

.behind-item #memoji {
	max-width: 250px;
	width: 100%;
	animation: bounceTop_02 4s ease infinite;
}

.behind-item {
	margin: 15px;
	margin-top: 40px;
	padding: 50px;
	box-shadow: var(--shadow-black-300);
	background-image: radial-gradient(#ffda73, #6651a0);
	border-radius: 30px;
	text-align: center;
	height: 420px;
	max-width: 320px;
}


.behind-item h3 {
	text-transform: capitalize;
	color: var(--main-color);
	font-size: 16px;
	font-weight: 300px;
	margin-bottom: 20px;
}

.behind-item p {
	color: var(--main-color);
	font-size: 14px;
	text-align: left;
}

.behind-item i {
	font-size: 18px;
	color: #ffda73;
	height: 40px;
	width: 40px;
	text-align: center;
	line-height: 38px;
}	


/*--message--*/
.message {
	background-image: radial-gradient(circle, #ffda73 5%, #df377e 20%, #6651a0 50%);
	padding-top: 100px;
	
}


.message-form .form-group {
	margin-bottom: 35px
}

.message-form .form-control {
	height: 52px;
	border: 1px solid transparent;
	box-shadow: var(--shadow-black-100);
	border-radius: 20px;
	padding: 0 25px;
	color: var(--black-900);
	background-color: var(--black-000);
	transition: all 0.5s ease;
}

.message-form textarea.form-control {
	height: 150px;
	padding-top: 15px;
}

.message-form .form-control:focus {
	border-color: var(--main-color);
}

.footer {
	height: 70px;
	background-image: url('../img/bg1.png');
	background-size: 1100px;
	color: #fff;
	font-size: 15px;
	padding: 10px;
	font-weight: 400;
	text-align: center;
	text-transform: uppercase;

}


@media(max-width: 991px) {
	.navbar-toggler {
		background-color: var(--main-color);
		border: solid 1px #ffda73;
		box-shadow: var(--shadow-black-300);
		height: 35px;
		width: 45px;
		padding: 0;
		font-size: 17px;
		color: #ffda73;
	}

	.navbar-nav{
		background-color: var(--main-color);
		border-radius: 10px;
		box-shadow: var(--shadow-black-300);
	}

	.navbar .nav-item {
		margin: 0;
		padding: 5px 15px;
	}

	.navbar .navbar-shrink .navbar-toggler
	.navbar .navbar-shrink .navbar-nav {
		background-color: var(--main-color);
	}

	.navbar{
	  padding-left:30px!important;
	  padding-right:30px!important; 
	}

	.home-img #home-logo {
		margin-top: 100px;
		margin-bottom: 30px;
		padding-right: 30px;
		width: 350px;
	}

	.home-img .circle {
		margin-top: 70px;
		height: 320px;
		width: 320px;
		opacity: 0;
	}

	.home-img .circle::before {
		left: 18px;
		top: 18px;
		transform-origin: 120px 120px;
	}

	.home-btn {
		margin-bottom: 80px;
	}


	.behind-item {
		margin: auto;
		margin-bottom: 50px;
	}

	.form-group {
		max-width: 90%;
		margin: auto;
	}
	
}

@media (min-width: 767px){
	.navbar{
	  padding-left:30px!important;
	  padding-right:30px!important; 
	}
}

@media (max-width: 575px){
	.home-img img {
		width: 450px;
		margin: auto;
	}
}







